<!-- NGX Color Picker -->
<div>
  <h3 [style.color]="color">Using NGX Color Picker - Font color</h3>
  <p>Colour: 
    <span 
      class="innercolor-box" 
      [(colorPicker)]="color" 
      [style.background]="color" 
      [cpPresetColors]="cpPresetColors" 
      [cpOutputFormat]="'hex'" 
      [cpPosition] ="'bottom'"
      [cpPresetLabel] ="''"
    ></span>
  </p>
</div>

<!-- Manually build -->
<div>
  <h3 [style.color]="selectedColour">Manually - Font color</h3>
  <p>Colour: 
    <span class="innercolor-box" 
      (click)="show =!show" 
      [style.background]="selectedColour">
    </span>
  </p>

  <div class="colour-picker" *ngIf="show" >
    <div style="padding: 20px">
      <div 
        class="innercolor-box" 
        *ngFor="let colour of cpPresetColors" 
        [style.background]="colour" 
        (click)="onSelect(colour)">
      </div>
      <div 
        id="color-box" 
        [style.background]="'linear-gradient(' + 'to top' +',' + '#000' + ',' + selectedColour + ')'"
        (cpSliderDragStart)="onEventLog('cpSliderDragStart', $event)" (cpSliderDragEnd)="onEventLog('cpSliderDragEnd', $event)"
      >
        <div id="cursor"></div>
      </div>
      <p>Recent</p>
      <div 
        class="innercolor-box" 
        *ngFor="let recentCol of recentChoose" 
        [style.background]="recentCol" 
        (click)="reuseCol(recentCol)">
      </div>
    </div>
  </div>
</div>

