h3 {
    font-size: 28px;
    font-weight: 600;
    color: gray;
}

p {
    font-size: 12px;
    color: #b2abac;
}

input {
    width: 150px;
    margin-bottom: 16px;
}
.colour-picker {
    width: 230px; 
    height: auto;
    box-shadow: 0 0 10px #5b5353d9;
}

.innercolor-box {
    display: inline-block;
    flex-wrap: wrap;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

#color-box {
    width: 150px;
    height: 170px;
    background-size: 100% 100%;
    direction: ltr;
    position: relative;
}

#cursor {
    width: 14px;
    height: 14px;
    border: #222 solid 2px;
    border-radius: 50%;
    cursor: default;
    position: absolute;
}

.slider {
    border-radius: 5px;
    background: #E0E0E0;
    width: 12px;
    height: 170px;
}
  
